body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background-sign-up.jpg);
    background-size: contain;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.cancelbtn {
    width: 100%;
    background-color: #f44336;
}

.cancelbtn:hover {
    background-color: #e73827;
}

.container a {
    color: #006699;
}

input[type="checkbox"] {
    margin-top: 20px;
}
